<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Saag-IA</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./static/script.js" defer></script>  
    <!-- For the Code font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' />
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" type="text/css" href="./static/saagie-ui.css">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/python-repl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <!-- <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button> -->
    <div class="chatbot">
      <header style="display: flex;">
        <!--<h2>Saag-IA</h2>-->
        <!--<div class="sui-a-text as--xxl" >Saag-IA</div>-->
        <div class="sui-a-text as--xxl" style="width: 100%;text-align: center;">SAI</div>
        <span class="restart-btn material-symbols-outlined" style="align-self: center;font-size: xxx-large;margin-right: 20px;cursor: pointer;">restart_alt</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <!--<span class="material-symbols-outlined">smart_toy</span>-->
          <span>
            <img class="avatar" src="static/saagie_avatar.svg">   
          </span>
          <div id="features-box">
            <div class="sui-a-text as--ml">
              Hi $SAAGIE_USER_NAME,<br>
              <br>
            </div>
            <div class="sui-a-text as--l">
              I'm SAI, your conversation buddy here to help you create your jobs and pipelines in the Saagie DataOps Platform.<br>
              I can help you write most of your code, not perfectly but it will be amazing. All you will have to do is to tailor it to your context.<br>
              If my proposal doesn’t meet your needs, we can discuss a more suitable solution. You lead, I follow, and you always have the final word.<br>
              <br>
              The relevance of my skills is restricted to the creation of jobs and pipelines. Beyond that, you may want to talk to someone who is more knowledgeable.<br>
              <br>
              Here's more information on how I can help you:<br>
              <br>
            </div>

            <div class="sui-a-text as--l">Create a job from its description.</div>
            <div class="sui-m-message as--light">
                <div class="sui-a-text">1. Describe what you want from your job.
                </div>
                <div class="sui-a-text" style="text-indent: 2%;">I'll provide you with the job code you need.
                </div>
                <div class="sui-a-text">2. Have a look at my job code suggestion.</div>
            </div>

            <div class="sui-a-text as--l">Create a pipeline from its description.</div>
            <div class="sui-m-message as--light">
                <div class="sui-a-text">1. Describe what you want from your pipeline.
                </div>
                <div class="sui-a-text" style="text-indent: 2%;">I'll provide you with a pipeline breakdown and a job coding proposal based on your needs.
                </div>
                <div class="sui-a-text">2. Have a look at my pipeline breakdown suggestion.</div>
                <div class="sui-a-text">3. Have a look at my job code suggestions.</div>
            </div>

            <div class="sui-a-text as--l">Create a pipeline from a drawing of its structure.</div>
            <div class="sui-m-message as--light">
                <div class="sui-a-text">1. Draw your pipeline.</div>
                <div class="sui-a-text">2. Upload an image of your drawing in the conversational field <span id="upload-img" class="upload-img material-symbols-rounded" style="color: #253c5b; background-color: white; vertical-align: text-bottom;">add_photo_alternate</span>.
                </div>
                <div class="sui-a-text" style="text-indent: 2%;">I'll provide you with the job codes you need.
                </div>
                <div class="sui-a-text">3. Have a look at my job code suggestions.</div>
            </div>

          </div>
        </li>
      </ul>
      <div class="chat-input">
        <span id="upload-img-btn" class="upload-img-btn material-symbols-rounded">add_photo_alternate</span>
        <input type="file" id="file-upload" style="display: none;">
        <textarea placeholder="Ask me here to generate the Pipeline or the Job that you need. For example : 'generate a pipeline to train and deploy a sentiment analysis model' or 'give me a data cleaning job'" spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>

  </body>
</html>